<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>
<p th:unless="${form.employee.skills} and ${form.employee.skills.size()}">No Skills</p>

<form method="post" style="max-width:600px;" th:object="${form}">

    <table class="table">

        <tr>
            <th>Skill Name</th>

        </tr>

        <tr th:each="skill : ${form.employee.skills}">
            <td th:text="${skill.name}"></td>

        </tr>

    </table>
    <input type="hidden" name="employeeId" th:value="*{employee.id}" />
    <input class="button" type="submit" value="Remove Employee and Skill" />
</form>

</body>
</html>