<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>



<table class="table">

    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>More Info</th>
        <th>Update Info</th>

    </tr>

    <tr th:each="employee : ${employees}">
        <td th:text="${employee.firstName}"></td>
        <td th:text="${employee.lastName}"></td>
        <td th:text="${employee.email}"></td>
        <td><a th:href="'employee/details/' + ${employee.id}">view</a></td>
        <td><a th:href="'employee/update/' + ${employee.id}">edit</a></td>
    </tr>

</table>

<a href="/employee/add">Add Employee</a>




</body>
</html>