<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>
<form method="post" style="max-width:600px;" th:object="${message}">
    <div class="form-group">
        <label th:for="number">Phone Number (ex: +13145555555)</label>
        <input style="width:200px;" class="form-control" th:field="*{number}" />
        <span th:errors="*{number}"></span>
    </div>

    <div class="form-group">
        <h4>Message</h4>
        <textarea style="width:200px;" th:field="*{message}"></textarea><br></br>
        <span th:errors="*{message}"></span>
    </div>


    <input class="button" type="submit" value="Send" name="button"/>

</form>


</body>
</html>