body {
    font-family: sans-serif;
    background-color: #F0F8FF; /* AliceBlue */

}

nav {
    margin-bottom: 20px;
}
 #header {
    color: red;
 }

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}